<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- 
    form
      action : 요청 보내는 곳
      method : 요청 보내는 방식
        GET : DB에서 어떠한 값을 꺼내오거나, 단순 요청.
          - URL에 querystring으로 요청이 보내짐
          - ?username=id&password=123
        POST : DB의 어떠한 값을 추가하거나 삭제하는 경우.
          - HTTP 요청의 body (url에 보이지 않음)
          - django에서 POST 요청으로 form을 보내는 경우 보안상의 이유로 항상 csrf_token을 넣어줘야함.
   -->
  <form action="/pages/signup_result/" method="POST">
    {% csrf_token %}
    <label for="username">id를 입력하세요:</label>
    <input id="username" type="text" name="username"><br>
    <label for="password">password를 입력하세요:</label>
    <input id="password" type="password" name="password"><br>
    <label for="password_confirmation">password확인하세요:</label>
    <input id="password_confirmation" type="password" name="password_confirmation">
    <input type="submit" value="제출">
  </form>
</body>
</html>